{{!-- card style view for each post shown on the homepage --}}
<div class="card-header">
  <div class="card-title">
  <a href="/api/posts/{{id}}"><h2>{{header}}</h2><a/>
  <h5 class="card-subtitle">Posted by {{user.username}} on {{format_date created_at}}</h5>
  </div>
  <div class="card-body">
    <p>{{body}}</p>
  </div>
</div>