{{!-- view for an individual post with associated comments --}}
<div class="card-header">
  <div class="card-title">
    <h2>{{post.header}}</h2>
    <h5 class="card-subtitle">Posted by {{post.User.username}} on {{format_date post.created_at}}</h5>
  </div>
  <div class="card-body">
    <p>{{post.body}}</p>
  </div>
</div>
<div>
  <div>
    <div>
      <h4>Comments</h4>
      {{#each post.comments as |comment|}}
      <div>
        <h6>Posted by {{User.username}} on {{format_date comment.created_at}}</h6>
        <p>{{comment.comment}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<form class="create-comment-form">
  <label for="comment">Add a Comment</label>
  <input id="comment" type="text">
  <button type="submit">Submit</button>
</form>

<script src="/js/comment.js"></script>

